<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.member-mapper">
   <!-- login -->
   <!-- 1. id 존재여부  -->
   <select id="memberIdCount" resultType="int" parameterType="String">
     SELECT COUNT(*)
     FROM member
     WHERE id=#{id}
   </select>
   <!-- 2. 비밀번호 확인 -->
   <select id="memberGetPwd" resultType="MemberVO" parameterType="String">
     SELECT pwd,admin,name,pay
     FROM member
     WHERE id=#{id}
   </select>
   
   
   <!-- 3. 회원가입 -->
   <insert id="memberSignUp" parameterType="MemberVO">
   	INSERT INTO member(id,pwd,name,email,tel,phone,addr1,addr2,sex,admin,pay,birthday) VALUES(
   		#{id},
   		#{pwd},
   		#{name},
   		#{email},
   		#{tel},
   		#{phone},
   		#{addr1},
   		#{addr2},
   		#{sex},
   		#{admin},
   		#{pay},
   		#{birthday}
   	)
   	</insert>
   <!-- 4. 회원탈퇴 -->
    <delete id="memberDelete" parameterType="String">
   	DELETE FROM member
   	WHERE id=#{id}
   </delete>
   <!-- 장바구니 개 수 출력 -->
   	 <select id="MywishCount" parameterType="String" resultType="int">
   		select count(*) from wish where id = #{id}
   	</select> 
   	
   	<!-- email 존재여부  -->
   <select id="memberEmailCount" resultType="int" parameterType="String">
     SELECT COUNT(*)
     FROM member
     WHERE email=#{email}
   </select>
   	
   	<!-- 아이디 찾기 -->
   <select id="memIdFind" parameterType="String" resultType="String">
   	SELECT id
   	FROM member
   	WHERE email=#{email}
   </select>
   
   <!-- 비밀번호 찾기 -->
   <select id="memPwdFind" parameterType="String" resultType="String">
   	SELECT pwd
   	FROM member
   	WHERE email=#{email} 
   </select>
   <!-- 마이페이지  회원정보-->
   	<select id="selectId" parameterType="String" resultType="MemberVO">
   		SELECT * from MEMBER where id = #{id}
   	</select>

</mapper>