<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.Recipe-mapper">
	<insert id="RecipeDataInsert" parameterType="RecipeVO">
		insert into recipe(no,poster,summary_in,info,step,STEP_POSTER,summary,complete,tag,tip,hit,ingre,made) values(
			(select NVL(max(no)+1,1) from recipe),
			#{poster},
			#{summary_in},
			#{info},
			#{step},
			#{STEP_POSTER},
			#{summary},
			#{complete},
			#{tag},
			#{tip},
			#{hit},
			#{ingre},
			#{made}
		)
	</insert>
	<!-- list data -->
	<select id="recipeListData" parameterType="java.util.Map" resultType="RecipeVO" >
		select no,hit,made,tag,TO_CHAR(regdate,'YYYY-MM-DD')as regdate,poster,info,summary,summary_in,num 
		from (select no,hit,made,tag,regdate,poster,info,summary,summary_in,rownum as num
		from (select no,hit,made,tag,regdate,poster,info,summary,summary_in
		from recipe order by regdate desc))
		where num between #{start} and #{end}
	</select>
	<!-- 레시피 전체 데이터 -->
	<select id="RecipeAllData" resultType="RecipeVO">
		select * from recipe
	</select>
	<!-- 레시피 카운터 -->
	<select id="RecipeCount" resultType="int">
		select count(*) from recipe
	</select>
	<select id="RecipeTotalPage" resultType="int">
      SELECT CEIL(COUNT(*)/6.0) FROM recipe
   </select>
	
	<!-- DetailData -->
	<select id="detailData" parameterType="int" resultType="RecipeVO">
		select * from recipe where no=#{no}
	</select>	
	<select id="HotRecipe" parameterType="int" resultType="RecipeVO">
		select no,poster,summary_in,info,step,STEP_POSTER,summary,complete,TO_CHAR(regdate,'YYYY-MM-DD')as regdate,tag,tip,hit,ingre,made,image,num
		from (select no,poster,summary_in,info,step,STEP_POSTER,summary,complete,regdate,tag,tip,hit,ingre,made,image,rownum as num
		from (select no,poster,summary_in,info,step,STEP_POSTER,summary,complete,regdate,tag,tip,hit,ingre,made,image
		from recipe order by hit desc))
		where num &lt;=#{num}
	</select>
	<!-- 태그 검색 
	<foreach collection="name_List" item="item" separator="," open="(" close=")">
			#{item}
		</foreach>
	-->
	<select id="tagselect" parameterType="java.util.Map" resultType="RecipeVO">
		select no,poster,summary,hit,TO_CHAR(regdate,'YYYY-MM-DD') as regdate,num,made 
		from (select no,poster,summary,summary_in,hit,regdate,rownum as num,made 
		from recipe <where>
			<foreach collection="tagStr" item="tag" separator="or">
				tag LIKE '%'||#{tag}||'%'
			</foreach>
		</where>)
		where num &lt;4
	</select>
	<update id="hitUpdate" parameterType="int">
		update recipe set hit = hit+1 where no = #{no} 
	</update>
	
  	 <select id="selectIngreDetail" resultType="IngredetailVO" parameterType="String">
		select no,mno,ingredetailname,unit,price,rownum 
		from (select no,mno,ingredetailname,unit,price 
		from ingredetail where ingredetailname LIKE '%'||#{ingre}||'%' 
		order by ingredetailname desc)
		where rownum &lt;4
	</select>   
	<select id="recipeSearch" resultType="RecipeVO" parameterType="java.util.Map">
		select no,poster,summary_in,info,step,STEP_POSTER,summary,complete,TO_CHAR(regdate,'YYYY-MM-DD')as regdate,tag,tip,hit,ingre,made,image,num
		from (select no,poster,summary_in,info,step,STEP_POSTER,summary,complete,regdate,tag,tip,hit,ingre,made,image,rownum as num
		from (select no,poster,summary_in,info,step,STEP_POSTER,summary,complete,regdate,tag,tip,hit,ingre,made,image
		from recipe 
		<where>
			<if test="key!=null and key!=''">
				and summary LIKE '%'||#{key}||'%'
				or summary_in LIKE '%'||#{key}||'%'
			</if>
			<if test="tag!=null and tag!=''">
				and tag LIKE '%'||#{tag}||'%'
			</if>
			<if test="ingre!=null and ingre!=''">
				and ingre LIKE '%'||#{ingre}||'%'
			</if>
		</where>
		order by regdate desc))
		where num between #{start} and #{end}
	</select>
	<select id="recipeSearchTotal" resultType="int" parameterType="java.util.Map">
		select CEIL(COUNT(*)/6.0)
		from recipe
		<where>
			<if test="key!=null and key!=''">
				and summary LIKE '%'||#{key}||'%'
				or summary_in LIKE '%'||#{key}||'%'
			</if>
			<if test="tag!=null and tag!=''">
				and tag LIKE '%'||#{tag}||'%'
			</if>
			<if test="ingre!=null and ingre!=''">
				and ingre LIKE '%'||#{ingre}||'%'
			</if>
		</where>
	</select>
	<!-- 팔로우 확인 -->
	<select id="followCount" resultType="int" parameterType="FollowVO">
		select count(*) 
		from following
		where id=#{id} and follow = #{follow}
	</select>
	<!-- 팔로우 입력 -->
	<insert id="followInsert" parameterType="FollowVO">
		insert into following values(
		 (select NVL(max(no)+1,1) from following),
		 #{id},
		 #{follow}
		)
	</insert>
	<delete id="followDelete" parameterType="FollowVO">
		delete from following where id=#{id} and follow=#{follow}
	</delete>
	<select id="whofollow" parameterType="String" resultType="com.sist.vo.FollowVO">
		select follow,TO_CHAR(day ,'YYYY-MM-DD')as day from following where id=#{id}
	</select>
	<!-- 만든 사람으로 검색 -->
	<!-- <select id="madeSearchRecipe" resultType="RecipeVO" parameterType="java.util.Map">
		select no,poster,summary,hit,TO_CHAR(regdate,'YYYY-MM-DD') as regdate,num,made 
		from (select no,poster,summary,summary_in,hit,regdate,rownum as num,made 
		from recipe <where>
			<foreach collection="made" item="vo" separator="or">
				made LIKE '%'||#{vo.chef}||'%' and TO_CHAR(regdate,'YYYY-MM-DD') =&gt; #{vo.day}
			</foreach>
		</where>
		order by regdate desc)
	</select> -->
	<select id="madeSearchRecipe" resultType="RecipeVO" parameterType="FollowVO">
		select no,poster,summary,hit,TO_CHAR(regdate,'YYYY-MM-DD') as regdate,num,made 
		from (select no,poster,summary,summary_in,hit,regdate,rownum as num,made 
		from recipe where
				made LIKE '%'||#{follow}||'%' and #{day} &lt;= TO_CHAR(regdate,'YYYY-MM-DD') 
		order by regdate desc)
	</select>
	
	<!-- 레시피 wish 확인 -->
	<select id="wishAllData" resultType="RecipeVO" parameterType="int">
		select no,summary,made,poster from recipe where recipe.no = #{no}
	</select>
	<select id="wishData" parameterType="String" resultType="int">
		select recipeno from wish where id = #{id}
	</select>
	<select id="wishCount" parameterType="String" resultType="int">
		select count(*) from wish where id = #{id}
	</select>
	<!-- wish 목록 추가 -->
	<insert id="wishInsert" parameterType="WishVO">
		insert into wish values(
		(select NVL(max(no)+1,1) from wish),
		#{recipeno},
		#{id}
		)
	</insert>
	
	<!-- 찜 딜리트 -->
	<delete id="wishDelete" parameterType="WishVO">
		delete from wish where recipeno = #{recipeno} and id=#{id}
	</delete>
	<!-- read 확인 -->
	<select id="readCount" parameterType="ReadVO" resultType="int">
		select count(*) from read where id=#{id} and rno=#{rno}
	</select>
	<insert id="readInsert" parameterType="ReadVO">
		insert into read values(
		#{id},
		#{rno}
		)
	</insert>
	
	<select id="readAllData" resultType="ReadVO" parameterType="String">
		select * from read where id = #{id}
	</select>
	
	<!-- MSG 보낸 메세지-->
	  <select id="msgSendData" resultType="MsgVO" parameterType="String">
		select read,msgno,content,sub,id,TO_CHAR(day,'YYYY-MM-DD') as day from msg where memberid = #{id}
	</select>
	
	<select id="msgReserveData" resultType="MsgVO" parameterType="String">
		select msgno,read,content,sub,memberid,TO_CHAR(day,'YYYY-MM-DD') as day from msg where id = #{id}
	</select>
	<select id="msgCount" parameterType="String" resultType="int">
		select count(*) from msg where read = 0 and id=#{id}
	</select> 
	<!-- 메세지 보내기 -->
	<insert id="msgInsert" parameterType="MsgVO">
		insert into msg(msgno,content,sub,memberid,id) values(
		(select NVL(max(msgno)+1,1) from msg),
		#{content},
		#{sub},
		#{memberid},
		#{id}
		)
	</insert>
	<!-- 메세지  읽음 -->
	<update id="msgUpdate" parameterType="int">
		update msg set read = 1 where msgno=#{msgno}
	</update>
	<!-- 메세지 정보주기 -->
	<select id="msgDetail" parameterType="int" resultType="MsgVO">
		select read,content,sub,memberid,TO_CHAR(day,'YYYY-MM-DD') as day,id from msg where msgno = #{msgno} 
	</select>
	<!-- 메세지 삭제 -->
	<delete id="msgDelete" parameterType="int">
		delete from msg where msgno = #{msgno}
	</delete>
	<update id="msgSendDel" parameterType="int">
		update msg set sendDel = 1 where msgno=#{msgno}
	</update>
	<update id="msgResDel" parameterType="int">
		update msg set del = 1 where msgno=#{msgno}
	</update>
	<select id="msgDelData" parameterType="int" resultType="com.sist.vo.MsgVO">
		select del,senddel from msg where msgno=#{msgno}
	</select>
</mapper>