<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.Recipe-mapper">
	<insert id="RecipeDataInsert" parameterType="RecipeVO">
		insert into recipe(no,poster,summary_in,info,step,STEP_POSTER,summary,complete,tag,tip,hit,ingre,made) values(
			(select NVL(max(no)+1,1) from recipe),
			#{poster},
			#{summary_in},
			#{info},
			#{step},
			#{STEP_POSTER},
			#{summary},
			#{complete},
			#{tag},
			#{tip},
			#{hit},
			#{ingre},
			#{made}
		)
	</insert>
	<!-- list data -->
	<select id="recipeListData" parameterType="java.util.Map" resultType="RecipeVO" >
		select hit,made,tag,TO_CHAR(regdate,'YYYY-MM-DD')as regdate,poster,info,summary,num 
		from (select hit,made,tag,regdate,poster,info,summary,rownum as num
		from (select hit,made,tag,regdate,poster,info,summary
		from recipe order by no desc))
		where num between #{start} and #{end}
	</select>
	<!-- 레시피 전체 데이터 -->
	<select id="RecipeAllData" resultType="RecipeVO">
		select * from recipe
	</select>
	<!-- 레시피 카운터 -->
	<select id="RecipeCount" resultType="int">
		select count(*) from recipe
	</select>
	<select id="RecipeTotalPage" resultType="int">
      SELECT CEIL(COUNT(*)/15.0) FROM recipe
   </select>

	
	
</mapper>