<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.search-mapper">
<insert id="IngreInsert" parameterType="IngreVO">
   INSERT INTO Ingre VALUES(
     #{ingreno},
     #{ingrename},
     #{ingreposter},
     #{ingreinfo}
   )
  </insert>
 <insert id="DifficultyInsert" parameterType="DifficultyVO">
   INSERT INTO difficulty VALUES(
     #{difficultyNo},
     #{difficultystep}
   )
  </insert>
  <select id="IngreListData" resultType="IngreVO">
    SELECT * FROM Ingre
  </select>
  <select id="ingredetailData" resultType="String" parameterType="int">
    SELECT ingredetailname
    FROM ingredetail
    WHERE ino=#{ino} and mno=1
  </select> 
  <select id="searchIngreData" resultType="RecipeVO" parameterType="hashmap">
    SELECT *
    FROM recipe
    where	<![CDATA[rownum<=12]]>
				<if test="ingre!=null and ingre!=''">
					and ingre LIKE '%'||#{ingre}||'%'
				</if>
				<if test="info!=null and info!=''">
					and info LIKE '%'||#{info}||'%'
				</if>
		
  </select>
 
  <select id="DifficultyListData" resultType="DifficultyVO">
    SELECT * FROM difficulty
  </select>
  
  <select id="searchDifficultyData" resultType="RecipeVO" parameterType="hashmap">
    SELECT *
    FROM recipe
    WHERE info like '%'||#{info}||'%' AND <![CDATA[rownum<=12]]>
  </select>
  
</mapper>