<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.search-mapper">
<insert id="IngreInsert" parameterType="IngreVO">
   INSERT INTO Ingre VALUES(
     #{ingreno},
     #{ingrename},
     #{ingreposter},
     #{ingreinfo}
   )
  </insert>
  <select id="IngreListData" resultType="IngreVO">
    SELECT * FROM Ingre
  </select>
  <select id="ingredetailData" resultType="ingredetailVO" parameterType="int">
    SELECT *
    FROM ingredetail
    WHERE ino=#{ino}
  </select> 
</mapper>